[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = https://github.com/fzhnf/kickstart.nvim
[submodule "kickstart-modular.nvim"]
	path = kickstart-modular.nvim
	url = https://github.com/fzhnf/kickstart-modular.nvim.git
[submodule "wezterm/wezterm-bar"]
	path = wezterm/wezterm-bar
	url = https://github.com/nekowinston/wezterm-bar
[submodule "nvim"]
	path = nvim
	url = git@github.com:fzhnf/lazyvim-starter.git
