// Screencast Configuration

// Block quickshell notifications from screencasts
layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

// Indicate screencasted windows with red colors
window-rule {
    match is-window-cast-target=true
    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
    shadow {
        color "#7d0d2d70"
    }
    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

binds {
    // Dynamic screencast
    Mod+O { set-dynamic-cast-window; }
    Mod+Shift+O { set-dynamic-cast-monitor; }
    Mod+Control+O { clear-dynamic-cast-target; }
}
